<h1>Photos from <%= @user.username %></h1>
<small><%= link_to "Back to all users", users_path %></small>
<% @user.photos.each do |photo| %>
<div class="gallery-item">
<p><%= link_to photo.title, [@user, photo] %></p>
<%= link_to image_tag(photo.url, :class => "gallery-img"), [@user, photo]  %>
</div>
<% end %>
