<div class="user-gallery-title">
  <h3><%= @user.username %>'s photos</h3>
</div>
<div class="user-gallery">
  <% @user.photos.each do |photo| %>
  <div class="user-gallery-item">
  <p><%= link_to photo.title, [@user, photo] %></p>
  <%= link_to image_tag(photo.url, :class => "user-gallery-img"), [@user, photo]  %>
  </div>
  <% end %>
</div>
